# ignore data folders and media files
/publics_data_train/
/data/
/data/**
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.tif
*.tiff
*.mp4
*.mov
*.avi
*.mkv
*.npy
*.npz
.DS_Store
Thumbs.db
/lightning_logs/
/checkpoints/
/hola/
*.ckpt
*.pth
*.pt
/__pycache__/
*.log
*.csv
