# ignore data folders and media files
/publics_data_train/
/data/
/data/**
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.tif
*.tiff
*.mp4
*.mov
*.avi
*.mkv
*.npy
*.npz
.DS_Store
Thumbs.db
/lightning_logs/
/checkpoints/
/hola/
*.ckpt
*.pt
/__pycache__/
*.log
*.csv
*.zip
/IOAI-2025-main/
/IOAI-2025-shao/
*.env
/noai/
*.txt
*.pkl
events.out.tfevents.*
hparams.*
/luyen vong mien bac/object_tracking/example_data/